.carousel-title-container {
	padding-top: 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.carousel-paragraph {
	font-weight: 700;
	font-family: "Roboto", sans-serif;
	font-size: 27px;
	width: 60%;
	align-self: center;
}
.carousel-title {
	color: #77388c;
	align-self: center;
	font-family: "Open Sans", sans-serif;
	font-weight: 800;
}
.carousel-sub-title {
	color: #37b8aa;
	align-self: center;
	font-family: "Open Sans", sans-serif;
	font-weight: 800;
}

.carousel-button {
	width: 5% !important;
}

.carousel {
	height: 450px !important;
}

.carousel-item {
	height: 450px !important;
}
