@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700;900&display=swap");

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	font-family: "Roboto", sans-serif;
}
p {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}
h5 {
	font-family: "Open Sans", sans-serif;
	font-weight: 800;
}
.pargraph-link {
	font-family: "Open Sans", sans-serif;
	font-weight: 800;
}

.pargraph-link:hover {
	border-bottom-style: solid;
	border-bottom-color: #77388c;
	border-bottom-width: 2px;
	color: #77388c !important;
}
.menu-item {
	height: 100%;
}

.menu-item-content {
	overflow: auto;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s;
}

.menu-item:hover .menu-item-content {
	opacity: 1;
	visibility: visible;
}
.menu-items-measures {
	width: 300px;
	height: 100%;
}

.menu-items-measures-img {
	height: 400px;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
